# Jqwik
.jqwik-*

# Gradle
.gradle
build/

## Ignore Gradle GUI config
gradle-app.setting

## Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Eclipse
.classpath
.settings/
.project
bin/

# IntelliJ
*.iml
*.ipr
*.iws
*.uml
.idea/
out/

# Misc
*.log
*.graphml
.DS_Store
